- 
  var fullName =  'Flavius Bohaciuc';
  var jobTitle = 'Web Developer';
  var socialList = [
    {
      "icon": "facebook2",
      "url": "https://www.facebook.com/flaviusbohaciuc"
    },
    {
      "icon": "linkedin",
      "url": "https://uk.linkedin.com/in/flaviusbohaciuc"
    },
    {
      "icon": "google-plus2",
      "url": "https://plus.google.com/u/0/106418073188905855771"
    },
    {
      "icon": "github",
      "url": "https://github.com/flaviusbohaciuc"
    },
    {
      "icon": "twitter",
      "url": "https://twitter.com/su1boh4"
    },
    {
      "icon": "earth",
      "url": "http://lmgtfy.com/?q=flaviusbohaciuc"
    }
  ]
#landing-page
.landing-page
  .landing-page__wrapper
    h1.landing-page__title=fullName
    h2.landing-page__sub-title=jobTitle
    ul.landing-page__social
      each social, key in socialList
        li.landing-page__social-item
          label.landing-page__social-label(for=`message-box-id-${key}`)
            span(class=`my-cv__icon--${social.icon}`)
    .landing-page__box
      .landing-page__box-body
        input.landing-page__box-radio(type="radio", name="message-box", id="message-default", checked)
        .landing-page__box-message Click the above icons to reveal
        .landing-page__box-header
          .landing-page__box-info Click link to visit
          label.landing-page__box-close(for="message-default") &times;
        each social, key in socialList
          input.landing-page__box-radio(type="radio", name="message-box", id=`message-box-id-${key}`)
          .landing-page__box-message
            a.landing-page__box-link(href=social.url, target="_blank")=social.url