-
  var header = '#experience'
  var experienceList = [
    {
      title: 'Web Developer',
      date: ' - present',
      company: 'Four Square Furniture',
      responsabilityList: [
        'Front End Developer and Netsuite Developer',
        'IT and System Administrator',
        'Marketing and Social Media Administrator'
      ]
    },
    {
      title: 'Junior Web Developer',
      company: 'Smart Yii',
      date: ' - present',
      responsabilityList: [
        `I've integrated tables, forms, buttons, drop down menu, mega menu,based on the designs and requirements using HTML, CSS and JavaScript for small and big projects`,
        `I was happy to create the best working mood ever to increase productivity by 500%`,
        `I've achieved perfect client smile with a score of 100% satisfaction`
      ]
    },
    {
      title: 'Freelancer',
      date: 'January 2014 - May 2015',
      responsabilityList: [
        'I had various projects in music industry and arts',
        'I worked with Reggaelizeit team at the website and helped with the events held by the crew back in Romania'
      ]
    }
  ]
#experience
.experience
  .experience__header=header
  each experience, key in experienceList
    label.experience__title(for=`experience-id-${key}`)=experience.title
    input.experience__input(type="radio", name="the-same", id=`experience-id-${key}`)
    .experience__details
      .experience__top
        .experience__date=experience.date
        .experience__company=experience.company
      .experience__list
        each responsability in experience.responsabilityList
          .experience__responsability=responsability