-
  var header = '#experience'
  var experienceList = [
    {
      title: 'Web Developer',
      date: 'Dec 2016 - Present',
      company: 'Four Square Furniture',
      responsabilityList: [
        'I am the Front End Developer and Netsuite Developer in the company',
        'I am the main IT and System Administrator',
        'I manage the Marketing and Social Media for Four Square'
      ]
    },
    {
      title: 'Junior Web Developer',
      company: 'Smart Yii',
      date: 'Feb 2016 - Dec 2016',
      responsabilityList: [
        `I've integrated tables, forms, buttons, drop down menu, mega menu,based on the designs and requirements using HTML, CSS and JavaScript for small and big projects`,
        `I've achieved perfect client smile with a score of 100% satisfaction`
      ]
    },
    {
      title: 'Freelancer',
      date: 'Jan 2014 - Sep 2015',
      responsabilityList: [
        'I had various projects in music industry, arts and development',
        'I worked with Reggaelize.it team at the website and helped with the events held by the crew back in Romania',
        `I was happy to create the best working mood ever to increase productivity by 500%`
      ]
    }
  ]
#experience
.experience
  input.experience__input(type="radio", name="the-same", id="experience-default", checked)
  .experience__header=header
  each experience, key in experienceList
    input.experience__input(type="radio", name="the-same", id=`experience-id-${key}`)
    label.experience__title(for=`experience-id-${key}`)
      | #{experience.title}
      label.experience__close(for="experience-default")
        span.my-cv__icon--plus
    .experience__details
      .experience__top
        .experience__date=experience.date
        .experience__company=experience.company
      .experience__list
        each responsability in experience.responsabilityList
          .experience__responsability=responsability